
body {
    font-family: Corbel, sans-serif;
    background-color: #f9f9f9;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    color: #333;
    font-family: Corbel;
}
h2 {
    text-align: left;
    color: #333;
    font-family: Corbel;
}

.form-container {
    margin: 20px 0;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Corbel;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 300px;
    align-content: center;
}

button:hover {
    background-color: #093042;
}

#message {
    text-align: center;
    margin-top: 20px;
    color: red;
}
