<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div id="main">
        <div class="title-card">
            <h2>Your Transactions</h2>
        </div>
        <div class="transaction-container">
            {% for transaction in transactions %}
            <div class="transaction-card">
                <p><strong>Type:</strong> {{ transaction.type }}</p>
                <p><strong>Amount:</strong> {{ transaction.amount }} zł</p>
                <p><strong>Date:</strong> {{ transaction.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
